allow system_app proc_tp:dir search;
allow system_app proc_tp:file rw_file_perms;

# Purpose : system_app need vendor_default_prop
get_prop(system_app, vendor_default_prop)

allow system_app proc_ged:file { ioctl };
#allow system_app apex_service:service_manager { find };

# Allow system_app to set perf_profile prop
set_prop(system_app, perf_prop)

# Allow system_app to read fps info node
allow system_app sysfs_fps:dir search;
allow system_app sysfs_fps:file r_file_perms;

allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file r_file_perms;
