typeattribute system_app coredomain, mlstrustedsubject;

app_domain(system_app)
net_domain(system_app)
binder_service(system_app)

allow system_app proc_tp:dir search;
allow system_app proc_tp:file rw_file_perms;

allow system_app {
  service_manager_type
  -apex_service
  -dnsresolver_service
  -dumpstate_service
  -installd_service
  -iorapd_service
  -lpdump_service
  -netd_service
  -vold_service
  -default_android_service
}:service_manager find;

allow system_app default_android_hwservice:hwservice_manager find;

dontaudit system_app {
  apex_service
  system_suspend_control_service
}:service_manager find;

# Allow system_app to set perf_profile prop
set_prop(system_app, perf_prop)

# Allow system_app to read fps info node
allow system_app sysfs_fps:dir search;
allow system_app sysfs_fps:file r_file_perms;

allow system_app sysfs_zram:dir search;
allow system_app sysfs_zram:file r_file_perms;
