typeattribute untrusted_app_29 coredomain;

app_domain(untrusted_app_29)
untrusted_app_domain(untrusted_app_29)

net_domain(untrusted_app_29)
bluetooth_domain(untrusted_app_29)

allow untrusted_app_29 hal_memtrack_hwservice:hwservice_manager find;
